
/*Dark Theme references provided by Christian Oliff
 https://github.com/coliff/dark-mode-switch/commit/00e0ed339aca6938063f87ce398055259755410e
*/
[data-theme="dark"]
{
  background-color: #222 !important;
  background-image: url("../images/night-mode-frontpage.png");
}

[data-theme="dark"] .bg-light
{
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white
{
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black
{
  background-color: #eee !important;
}
[data-theme="dark"] h1
{
  color: #333 !important;
}
[data-theme="dark"] h2
{
  color: #aaa !important;
}
[data-theme="dark"] p
{
  color: #333 !important;
}
[data-theme="dark"] div.transbox
{
  position: relative;
  margin: 15px:
  padding: 5px;
  max-width: 1400px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.regTransbox
{
  position: relative;
  margin: 1px;
  padding: 15px;
  width: 500px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.uTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.uTransbox2
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.addTransbox
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] #mojaveTitle
{
  color: #333 !important;
}
[data-theme="dark"] #updateTitle
{
  color: #333 !important;
}
[data-theme="dark"] #signIn
{
  color: #333 !important;
}
[data-theme="dark"] label
{
  color: #333 !important;
}
[data-theme="dark"] input[type=text]
{
  background-color: #aaa;
  height: 40px;
  width: 325px;
}
[data-theme="dark"] input[type=email]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=tel]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=password]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=button]
{
  background-color: #333;
  color: #fff;
}
[data-theme="dark"] #button
{
  background-color: #333;
  color: #fff;
}
[data-theme="dark"] #homeButton
{
  color: #aaa !important;
}
[data-theme="dark"] #nightMode
{
  color: #aaa !important;
}
[data-theme="dark"] #hUsername
{
  color: #333 !important;
}
[data-theme="dark"] #hPassword
{
  color: #333 !important;
}
[data-theme="dark"] #register
{
  color: #333 !important;
}
