
/*Dark Theme references provided by Christian Oliff
 https://github.com/coliff/dark-mode-switch/commit/00e0ed339aca6938063f87ce398055259755410e
*/

/* Dark Mountain background */
[data-theme="dark"]
{
  background-color: #222 !important;
  background-image: url("../images/night-mode-frontpage.png");
}
/* camping man logo (night mode) */
/* provided by https://www.freepngimg.com/png/25627-outdoor-sports-activities-transparent-image */
[data-theme="dark"] .invertPNG
{
  filter: invert(0%);
  height: 250px;
  width: 350px;
  padding-top: 45px;
}

/* transparent boxes to hold content (edited to be consistent with night mode) */
[data-theme="dark"] div.transbox
{
  position: relative;
  margin: 15px:
  padding: 5px;
  max-width: 750px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
/* register transparent box (night mode) */
[data-theme="dark"] div.regTransbox
{
  position: relative;
  margin: 1px;
  padding: 15px;
  width: 500px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
/*  user home page transparent box (night mode) */
[data-theme="dark"] div.uTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 700px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
/*  user home page transparent box to update contacts (night mode) */
[data-theme="dark"] div.uTransbox2
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 700px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
/* user home page transparent box to add contact (night mode) */
[data-theme="dark"] div.addTransbox
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}

/* Night mode input text boxes */
[data-theme="dark"] input[type=text]
{
  background-color: #aaa;
  height: 40px;
  width: 325px;
}
[data-theme="dark"] input[type=email]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=tel]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=password]
{
  background-color: #aaa;
}

[data-theme="dark"] input[type=usernametext]
{
  background-color: #aaa;
}

/* END: Night mode input text boxes */

[data-theme="dark"] input[type=button]
{
  background-color: #333;
  color: #fff;
}

[data-theme="dark"] input[type=checkbox]
{
  background-color: #aaa;
}

[data-theme="dark"] .tab
{
  color: #333;
}

/* Texts buttons, and titles in night mode will be of color grey */
[data-theme="dark"] h1
{
  color: #333 !important;
}
[data-theme="dark"] h2
{
  color: #aaa !important;
}
[data-theme="dark"] p
{
  color: #333 !important;
}
[data-theme="dark"] label
{
  color: #333 !important;
}
[data-theme="dark"] #mojaveTitle
{
  color: #333 !important;
}
[data-theme="dark"] #updateTitle
{
  color: #333 !important;
}
[data-theme="dark"] #signIn
{
  color: #333 !important;
}
[data-theme="dark"] #button
{
  background-color: #333;
  color: #fff;
}
[data-theme="dark"] #homeButton
{
  color: #aaa !important;
}
[data-theme="dark"] #nightMode
{
  color: #aaa !important;
}
[data-theme="dark"] #hUsername
{
  color: #333 !important;
}
[data-theme="dark"] #hPassword
{
  color: #333 !important;
}
[data-theme="dark"] #register
{
  color: #333 !important;
}
[data-theme="dark"] #regTitle
{
  color: #333 !important;
}
[data-theme="dark"] #welcomeText
{
  color: #333 !important;
}
