#title
{
  background-color: black;
  color: white;
  text-align: center;
}
.hide
{
  display:none;
}
.show
{
  display:block;
}
#myHeader
{
  background-color: grey;
  color: white;
  text-align: center;
}