/* Mountain background  */
body
{
    background-image: url("../images/day-mode-frontpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    margin: 0 auto;
}
/* camping man logo (day mode) */
/* provided by https://www.freepngimg.com/png/25627-outdoor-sports-activities-transparent-image */
.invertPNG
{
  filter: invert(45%);
  height: 250px;
  width: 350px;
  padding-top: 45px;
  padding-left: 45px;
}

/* Style for page title, Sign Out button, and Night Mode Switch */
nav
{
  width: 99%;
  margin: auto;
  min-height: 10vh;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a
{
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}
nav h2
{
  display: flex;
  justify-content: space-between;
  flex: 9;
}
/* END: Style for page title, Sign Out button, and Night Mode Switch */

/* hidden text boxes will display after button click */
.hide
{
  display:none;
}
.show
{
  display:block;
}
/* END: hidden text boxes will display after button click */

.center
{
    margin: auto;
    width: 40%;
    border: 3px solid #333;
    padding: 5px;
}

/* containters */
.container
{
  margin: auto;
  display: flex;
  justify-content: center;
}
div.regContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* transparent boxes to hold content */
div.transbox
{
  position: relative;
  margin: 30px:
  padding: 15px;
  width: 750px;
  height: 350px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}
/* register transparent box */
div.regTransbox
{
  position: relative;
  margin: 1px;
  padding: 15px;
  width: 500px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}
/* user home page transparent box */
div.uTransbox
{
  position: relative;
  margin: 15px;
  height: auto;
  padding: 5px;
  width: 950px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}
/* user home page transparent box (update contact) */
div.uTransbox2
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
/* user home page transparent box (add contact) */
div.addTransbox
{
  display: none;
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 370px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}

table
{
    width: 100%;
    margin-bottom: 20px;
		border-collapse: collapse;
}

table, th, td
{
    border: 1px solid #c2d1e0;
}

table th, table td
{
    padding: 10px;
    text-align: left;
}

/* Default day mode text and buttons will be of color white */
#mojaveTitle
{
  color: #777 !important;
}
#updateTitle
{
  color: #777 !important;
}
#homeButton
{
  color: #fff !important;
}
#hUsername
{
  color: #777 !important;
}
#hPassword
{
  color: #777 !important;
}
#username
{
  width: 325px;
}
#password
{
  width: 325px;
}
#register
{
  color: #777 !important;
}
#button
{
  background-color: #777;
  color: #fff;
}
#nightMode
{
  color: #fff !important;
}
#welcomeText
{
  color: #777 !important;
}
#regTitle
{
  color: #777 !important;
}
#resultTable
{
  position: auto;
  width: 900px;
}
#tHeader
{
  width: 100px;
  font-size: smaller;
}
#tHeader2
{
  font-size: smaller;
  width: 200px;
}

label
{
  color: #777 !important;
}
h1
{
  color: #fff;
}
h2
{
  color: #fff;
}
p
{
  color: #777;
}
input[type=button]
{
  background-color: #fff;
  color: #333;
}
input[type=text]
{
  background-color: #fff;
  height: 40px;
  width: 325px;
  border-style: none;
  border-radius: 2px;
}
input[type=usernametext]
{
  background-color: #fff;
}
/* Style for show password checkbox */
input[type=checkbox].form-check-input
{
  background-color: #fff;
  border-style: none;
  margin: 2px;
  width: 18px;
  height: 18px;
}

.tab
{
  padding-left: 23px;
  color: grey;
}

/* The Modal (background) for confirm delete popup */
/* <!-- Referenced from w3schools  https://www.w3schools.com/howto/howto_css_delete_modal.asp --> */
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #777;
  opacity: 0.95;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content
{
  background-color: #aaa;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr
{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* The Modal Close Button (x) */
.close
{
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus
{
  color: #f44336;
  cursor: pointer;
}

/* Clear floats, ensure everything is in the container */
.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px)
{
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn
{
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn
{
  background-color: #fff;
  color: #333;
}

/* Add a color to the delete button */
.deletebtn
{
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.delContainercontainer {
  padding: 16px;
  text-align: center;
  height: 500px;
  width: 500px;
}
.rounded
{
  position: relative;
}
/* END: w3schools modal reference */
