
body {
    background-image: url("mtn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
head {
    font-style: normal;
}
.center {
    margin: auto;
    width: 40%;
    border: 3px solid #333;
    padding: 5px;
}
nav{
  width: 99%;
  margin: auto;
  min-height: 10vh;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a
{
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}
nav h2
{
  display: flex;
  justify-content: space-between;
  flex: 9;
}

div.transbox
{
  position: relative;
  margin: 30px:
  padding: 15px;
  max-width: 1400px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}
.container
{
  display: flex;
}
.show
{
  display:block;
}
div.regContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
div.regTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 600px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}
div.uTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 450px;
  background-color: #c2d1e0;
  border: 5px solid #c2cae0;
  opacity: 0.9;
}

#mojaveTitle {
  color: #fff !important;
}
#signIn {
  color: #fff !important;
}
#homeButton {
  color: #fff !important;
}
#hUsername {
  color: #fff !important;
}
#hPassword {
  color: #fff !important;
}
#register
{
  color: #fff !important;
}
#button
{
  background-color: #fff;
  color: #333;
}
label {
  color: #fff !important;
}
h1
{
  color: #fff;
}
h2
{
  color: #fff;
}
p
{
  color: #fff;
}
input[type=button]
{
  background-color: #fff;
  color: #333;
}


/*Dark Theme references provided by Christian Oliff
 https://github.com/coliff/dark-mode-switch/commit/00e0ed339aca6938063f87ce398055259755410e
*/
[data-theme="dark"] {
  background-color: #222 !important;
  background-image: url("dkmtn.jpg");
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}
[data-theme="dark"] h1 {
  color: #333 !important;
}
[data-theme="dark"] h2 {
  color: #333 !important;
}
[data-theme="dark"] p {
  color: #333 !important;
}
[data-theme="dark"] div.transbox
{
  position: relative;
  margin: 15px:
  padding: 5px;
  max-width: 1400px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.regTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 600px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] div.uTransbox
{
  position: relative;
  margin: 15px;
  padding: 5px;
  width: 450px;
  background-color: #8a99a8;
  border: 5px solid #c2cae0;
  opacity: 0.85;
}
[data-theme="dark"] #mojaveTitle {
  color: #333 !important;
}
[data-theme="dark"] #signIn {
  color: #333 !important;
}
[data-theme="dark"] label {
  color: #333 !important;
}
[data-theme="dark"] input[type=text]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=email]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=tel]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=password]
{
  background-color: #aaa;
}
[data-theme="dark"] input[type=button]
{
  background-color: #333;
  color: #fff;
}
[data-theme="dark"] #button
{
  background-color: #333;
  color: #fff;
}
[data-theme="dark"] #homeButton {
  color: #333 !important;
}
[data-theme="dark"] #hUsername {
  color: #333 !important;
}
[data-theme="dark"] #hPassword {
  color: #333 !important;
}
[data-theme="dark"] #register
{
  color: #333 !important;
}
.rounded{
  position: relative;
}
